<section class="signup">
<h1>Sign Up!</h1>

<div class="signup-form">
<%= form_for :user, url: '/users' do |f| %>

  First Name: <%= f.text_field :first_name %>
  Last Name: <%= f.text_field :last_name %>
  Email: <%= f.text_field :email %>
  Password: <%= f.password_field :password %>
  Password Confirmation: <%= f.password_field :password_confirmation %>
  <%= f.submit "Submit" %>

<% end %>
</div>
</section>