<section class="orders-show">

  <header class="page-header">
    <h1>Order #<%= @order.id %></h1>
  </header>

  <div class="order-summary jumbotron">
    <h4>Thank you for your order <%= @order.email %>!</h4>
  </div>
  </br>

  <div class="order-details">
    <h3>Order Details</h3>

    <div class="panel panel-default items">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th colspan="2">Product</th>
            <th>Quantity</th>
            <th>Price</th>
          </tr>
        </thead>
        <tbody>
          <% @order.line_items.each do |line_item| %>
            <%= render partial: 'item', locals: { line_item: line_item } %>
          <% end %>
        </tbody>
        <tfoot>
          <tr>
            <th colspan="4">
              <div class="order-total">
                <h4>Order Total: <%= humanized_money_with_symbol(Money.new(@order.total_cents)) %></h4>
              </div>
            </th>
          </tr>
        </tfoot>
      </table>
    </div>
  </div>
  <%= link_to "Continue Shopping", root_path, class: 'btn btn-lg btn-primary' %>

</section>
